/* 
Từ ngoài vào trong 
Từ phải sang trái
Từ trên xuống dưới
Từ trái sang phải */
body{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    display: flex;
    
}
ul{
    list-style: none;
    padding: 0;
}
/* ============HEADER============ */
#header{
    background-color: #23282d;
    padding-top: 27px;
    padding-bottom: 10px;
    margin-bottom: 35px;
}
form#search{
    position: relative;;
}
form#search input{
    background: #131619;
    width: 248px;
    border: none;
    outline: none;
    padding: 9px 42px 9px 15px;
    color: #909090;
}
form#search button{
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    padding: 9px 12px;
    color: #a2a1a1;
}
form#search ::placeholder{
    color: #909090;
}
nav{
    margin-top: 7px;
    flex: 100%;
    border-right: 10px solid #ff2d2d;
}
ul#main-menu li a{
    padding: 5px 20px;
    display: block;
    color: #eeeeee;
}
ul#main-menu li:first-child a{
    padding-left: 0;
}
ul#main-menu li:hover a, 
ul#main-menu li.active a{
    color: #4db2ec;
    text-decoration: none;
}
/* =============FEATURED POST=============*/
.box .box-head h3{
    display: inline-block;
    color: #eeeeee;
    background-color: #23282d;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    padding: 1px 15px;
    margin-bottom: 0;
}
.box .box-body{
    padding-top: 20px;
}
ul.list-featured-post li{
    flex: 360px 0 1;
}
a.post-title{
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-top: 20px;
}
#content{
    flex: 765px;
    padding-right: 15px;
}
#sidebar{
    flex: 375px;
    padding-left: 15px;
}
.box.new-post .box-head{
    border-bottom: 2px solid #4db2ec ;
}
.box.new-post .box-head h3{
    background-color: #4db2ec;
}
ul.list-post li{
    display: flex;
    margin-bottom: 40px;
}
ul.list-post li .post-thumb{
    display: block;
    padding-right: 15px;
    flex: 280px;
}
ul.list-post li .more-infor{
    padding-left: 15px;
}
ul.list-post li .more-infor .postitle{
    color: #111111;
    font-size: 21px;
    font-weight: 600;
    display: block;
}
ul.list-post li:hover .more-infor a.postitle{
    color: #4db2ec;
    text-decoration: none;
}
ul.list-post li .more-infor .post-pulished{
    font-size: 11px;
    font-weight: 600;
    padding: 6px 0px;
}
ul.list-post li .more-infor.post-author{
    color: #111111;
    font-weight: 600;
}
ul.list-post li .more-infor.post-date{
    color: #aaa;
}
ul.list-post li .more-infor.post-exerpt{
    font-size: 13px;
    color: #777777;
    margin-bottom: 0;
}
/* -----------------Sider bar--------------- */

#sidebar a.ads{
    display: block;
    margin-bottom: 40px ;
}

.box.top-topic .box-head h3{
    background-color: #ff2d2d;
}
ul.list-topic li{
    position: relative;
    color: #212121;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    
}
ul.list-topic li a{
    position: relative;
    color: #212121;
    font-size: 16px;
}
ul.list-topic li:hover a{
    color: #4db2ec;
    text-decoration: none;
}
ul.list-topic li span.num-post{
    position: absolute;
    top: 7px;
    right: 20px;
}
#footer{
    background-color: #2e2f30;
    padding-top: 52px;
    padding-bottom: 75px;
    color: #f6f6f6;
}
#footer .box .box-head h3{
    background: none;
    padding-left: 0;
    padding-right: 0;
}
#footer .box.box.logo-footer .box-head {
    visibility: hidden;
}
#footer .box .box-body {
    padding-top: 40px;
}
#footer .box.logo-footer{
    flex: 280px;
    padding-right: 15px;
}
#footer .box.about-us{
    flex: 680px;
    padding-left: 15px;
    padding-right: 180px;
}
#footer .box.follow-us{
    flex: 180px;
    padding-left: 15px;
}
ul.list-social li{
    margin-left: 15px;
}
ul.list-social li a{
    background-color: #434648;
    padding: 6px 10px;
    color: #eee;
}ul.list-social li:first-child{
    margin-left: 0px;
}
/* =======COPYRIGHT========= */
#wp-copyright{
    background-color: #222527;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
#wp-copyright .copyright{
    margin-bottom: 0;
    font-size: 14px;
}
ul#footer-menu li a{
    font-size: 14px;
    color: #f3f3f3;
    display: block;
    padding: 0px 13px;
}
ul#footer-menu li:hover a{
    color: #4db2ec;
    text-decoration: none;
}